html, body {
    overflow-x: hidden !important;
    width: 100% !important;
}

main {
    font-family: "Lexend", sans-serif !important;
}

section {
    height: calc(var(--vh, 1vh) * 100);
}

.modal-body {
    max-height: 40vh;
}

body.modal-open {
  overflow-x: hidden;
}