html, body {
    overflow-x: hidden !important;
    width: 100% !important;
}

main {
    font-family: "Lexend", sans-serif !important;
    overflow-y: scroll;
    height: 100vh;
    scroll-snap-type: y mandatory;
}

section {
    height: calc(var(--vh, 1vh) * 100);
    scroll-snap-stop: always;
    scroll-snap-align: start;
}

.modal-body {
    max-height: 40vh;
}

body.modal-open {
  overflow-x: hidden;
}

footer {
    color: white;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 -15px 50px rgba(0, 0, 0, 1);
    /* background-color: rgb(193, 157, 83); */
    bottom: 0px;
    /* box-shadow: 0 -5px 10px rgba(81, 54, 87, 1); */
    row-gap: 0.3rem;
}

a {
    text-decoration: none;
    border: none;
}

/* .scrollbar::-webkit-scrollbar {
    background-color: #f5f5f5;
    border-radius: 10px;
    width: 7px;
    height: 2px;
} */
/* 
.scrollbar::-webkit-scrollbar-thumb {
    background-color: #0000;
    border-radius: 10px;
} */