html, body {
    overflow-x: hidden !important;
    width: 100% !important;
}

main {
    font-family: "Lexend", sans-serif !important;
}

section {
    height: calc(var(--vh, 1vh) * 100);
}

.modal-body {
    max-height: 40vh;
}

body.modal-open {
  overflow-x: hidden;
}

footer {
    color: white;
    background-color: rgb(40, 23, 32);
    bottom: 0px;
    box-shadow: 0 -10px 15px rgba(40, 23, 32, 0.8);
    backdrop-filter: blur(8px);
    row-gap: 0.5rem;
}

a {
    text-decoration: none;
    border: none;
}