section.contact-section {
    position: relative;
    z-index: 0;
}

section.contact-section::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-image: url("../assets/contact/marsh.png");
    filter:hue-rotate(350deg) brightness(2);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.social-icon {
    width: 1.8vw;
    fill: rgb(179, 124, 187);
}

.potion-icon {
    width: 1.5vw;
    fill: greenyellow;
}