section.contact-section {
    position: relative;
    z-index: 0;
}

section.contact-section::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-image: url("../assets/contact/marsh_edited.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.social-icon {
    width: 1.4rem;
    /* fill: rgb(175, 97, 220); */
    fill: rgb(74, 50, 84);
}

.potion-icon {
    width: 1rem;
    /* fill: greenyellow; */
    fill: rgb(74, 50, 84);
}

.footer-note {
    font-size: clamp(0.6rem, 0.8vw, 1.1rem);
    font-weight: 300;
    line-height: 1;
    color: rgb(164, 164, 164);
}

.copyright {
    font-size: x-small;
    color: rgb(188, 82, 83);
}

.footer-quote {
    font-size: clamp(0.6rem, 0.8vw, 1.1rem);
    font-weight: 300;
    line-height: 1;
}

.form-label, .form-control, .form-select {
    font-size: clamp(0.7rem, 1.2vw, 1rem);
}

.form-label {
    color: white;
    padding-top: 0.3rem;
}

form {
    width: 75vw;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    box-shadow: 0 8px 32px rgba(0,0,0,0.3);
    border: none;
    border-radius: 15px;
    padding-block: 20px;
    padding-inline: 30px;
}

.form-control, .form-select {
    color: white !important;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    padding: 3px 10px;
    border: none;
    font-weight: 300;
}

::placeholder {
    color: white !important;
    font-weight: 300;
}

.submit-form {
    background-color: rgb(188, 82, 83);
    color: white;
    font-size: clamp(0.7rem, 1.2vw, 1.3rem);
    /* border: solid white;
    border-width: 1px; */
    border-radius: 25px;
    padding-block: 0.2rem;
    transition: background-color 0.4s color 0.3s border 0.3s;
}

.submit-form:hover {
    border-color: none;
    background-color: white;
    color: black;
}

.submit-form:active {
    border-color: none;
    background-color: white;
    color: black;
    animation-delay: 0.4s;
}

.form-control:focus, .form-select:focus {
    color: black !important;
    background-color: rgba(255, 255, 255, 0.7);
    border-color: rgb(255, 255, 255);
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
}

@media (min-width: 1024px) {
    form {
        width: 40vw;
    }
}