section.experience-section {
    position: relative;
    z-index: 0;
}

.expi-section-title {
    font-weight: 800;
    font-size: clamp(2rem, 5vw, 3.5rem);
    color: white;
    letter-spacing: 0.5rem;
    /* text-shadow: 0 3px 10px rgba(0, 0, 0, 0.966); */
    padding-inline: 20px;
    align-items: center;
}

.expi-content {
    justify-content: space-around;
}

section.experience-section::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-image: url("../assets/experience/coast.png");
    filter: brightness(0.5) saturate(1.3) contrast(0.8);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.company-icon {
    aspect-ratio: 1/1;
    width: 20vw;
    max-width: 100px;
    object-fit: contain;
    padding: none;
    margin: none;
    border: 10px solid rgba(255, 255, 255, 0.157);
    border-radius: 8px;
}

.company-button {
    width: max-content;
    border: none;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0);
}

.year-font {
    font-size: clamp(0.8rem, 2vw, 1.1rem);
    font-weight: 600;
    color: white;
}