section.projects-section {
    position: relative;
    z-index: 0;
}

section.projects-section::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-image: url("../assets/projects/north.webp");
    filter: brightness(0.6) hue-rotate(220deg) saturate(150%) contrast(1.2);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.cards-wrapper {
    display: flex;
    justify-content: center;
}

.card img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22,26, 0.18);
    border: none;
    border-radius: 0;
    width: calc(100%/4);
}

.carousel-inner {
    padding: 1em;
}

.card-title {
    text-wrap: wrap;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: #e1e1e1;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.tech-tags {
    display:inline-block;
    background-color: rgb(45, 45, 45);
    color: white;
    font-size: 10px;
    padding-inline: 0.5em;
    padding-block: 0.2em;
}

.status-badge {
    display:inline-block;
    background-color: rgb(155, 155, 155);
    color: black;
    font-size: 10px;
    padding-inline: 0.5em;
    padding-block: 0.2em;
}

.tech-tags, .status-badge {
    border-radius: 3px;
}

.view-more-btn {
    background-color: orange;
    font-size: 0.8rem;
    padding-block: 0.2em;
    margin-block: 0.5em;
}

.coming-soon-btn {
    background-color:gray;
    color: white;
    font-size: 0.8rem;
    padding-block: 0.2em;
    margin-block: 0.5em;
}

.card-description {
    font-size: 10px;
    text-wrap: ellipsis;
}

@media (min-width: 768px) {
    .card img {
        height: 10em;
    }
}

@media (max-width:768px) {
    .card {
        width: 65%;
    }
}

@media screen and (max-width: 567px) {
    .card:not(:first-child) {
        display: none;
    }
}