section.skills-section {
    position: relative;
    z-index: 0;
}

section.skills-section::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-image: url("../assets/skills/over_coast.webp");
    filter: brightness(0.9);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.section-title {
    font-weight: 800;
    font-size: clamp(3rem, 5vw, 3.5rem);
    color: white;
    letter-spacing: 0.5rem;
    /* text-shadow: 0 3px 10px rgba(0, 0, 0, 0.966); */
    padding-inline: 20px;
    flex: 1;
    align-items: center;
    /*
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.7);
    transition: background-color 0.3s ease;
    */
}

.section-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 1.5em;
    place-items: center;
}

.skills-card {
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    /* backdrop-filter: blur(1px); */
    border-radius: 15px;
    transition: background-color 0.35s box-shadow 0.35s;
}

.skills-card:hover {
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 10px 5px rgb(0, 0, 0, 0.5);
}

.skills-icon-container {
    display: flex;
    height: 100%;
    justify-content: center;
}

/* .skills-icon-container {
    display: grid;
    grid-template-columns: repeat(4,1fr); 
    place-items: center; 
    width: 100%;
    height: 100%;
    padding-inline: 1rem;
} */
.skill-icon {
    aspect-ratio: 1/1;
    width: clamp(1.5rem,2.5vw,3.5rem);
    fill: #000;
    filter: grayscale() brightness(0);
    margin: 0.3rem;
}

.skill-icon:hover, .skill-icon:active {
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.8);
    fill: #baaa5c;
    filter: none;
    background-color: #000;
}

.card-title {
    font-size: clamp(0.8rem, 1.2vw, 2rem);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: none;
    margin: none;
}

@media (min-width:768px) {
    .section-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.3fr;
        column-gap: 1em;
        min-height: 0;
    }

    .skills-card {
        height: 38%;
        margin-inline: 20px;
    }
}
